<ion-header>
  <ion-toolbar>
    <ion-title>Discussion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="data[0].id !== Tuteur">
    <ion-item detail *ngFor="let item of Liste" routerLink="/detail-chat/{{item.id}}">
      <ion-avatar slot="start" >
        <img src="../../../assets/images/person.png">
      </ion-avatar>
      <ion-label> 
        <div class="flex_box">
          <h3>{{item.envoyeur.prenom}} {{item.envoyeur.nom}}</h3>
        </div>
        <p class="ion-text-wrap"><ion-icon class="text-icon" name="checkmark-done-outline" color="primary"></ion-icon> Demande en {{item.matiere}}</p>
        <ion-note slot="end">{{item.date | date: short}}</ion-note>
      </ion-label>
    </ion-item>
  </div>

  <div *ngIf="data[0].id === Tuteur">
    <ion-item detail *ngFor="let item of Liste2" routerLink="/detail-chat/{{item.id}}">
      <ion-avatar slot="start" >
        <img src="../../../assets/images/person.png">
      </ion-avatar>
      <ion-label> 
        <div class="flex_box">
          <h3>{{item.receveur.prenom}} {{item.receveur.nom}}</h3> 
        </div>
        <p class="ion-text-wrap"><ion-icon class="text-icon" name="checkmark-done-outline" color="primary"></ion-icon> Demande en {{item.matiere}}</p>
        <ion-note slot="end">{{item.date | date: short}}</ion-note>
      </ion-label>
    </ion-item>
  </div>
  
</ion-content>
