<ion-content>
    <div class="banner">
        <img src="../../../assets/images/banner.png" />

        <div class="caption ion-padding">
            La liste <br> &nbsp; &bigstar; des ecoles &bigstar;
        </div>

        <div class="search">
            <ion-item lines="none" class="ion-no-padding">
                <ion-icon slot="start" name="search-outline"></ion-icon>
                <ion-input placeholder="Chercher" [(ngModel)]="search"></ion-input>
                <ion-button slot='end'>
                    <img src="../../../assets/filter.svg" />
                </ion-button>
            </ion-item>
        </div>
    </div>
    <div>
        <ion-list>
            <ion-item *ngFor="let l of liste | filter: search">
                {{l.nom}}
            </ion-item>
        </ion-list>
    </div>
</ion-content>
