<ion-content>
    <div class="head">
        <ion-buttons slot="start" color="light">
            <ion-back-button defaultHref="accueil" color="light" routerLink="/tabs"></ion-back-button>&nbsp;
        </ion-buttons>
        <span> Demandes initier</span>
    </div>

  <ion-list>
    <div *ngFor="let item of Liste">
      <ion-item *ngIf="item.etat !=='DECLINER' && item.etat !=='ACCEPTER'">
        <ion-label>
          <h2>{{item.envoyeur.prenom}}  {{item.envoyeur.nom}}</h2>
          <h3>{{item.matiere}}</h3>
          <p>
            <ion-button color="danger" (click)="Decliner(item.id, item)">Decliner</ion-button>
            <ion-button color="primary" (click)="Accepter(item.id, item)">Accepter</ion-button>
          </p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
  

</ion-content>
