ion-content {
    width: calc(100% + 15px);
    --background: #B5B9BF;
    .head {
        display: flex;
        align-items: center;
        margin-top: 20px;
        span {
            font-weight: 600;
            color: #fff;
            justify-content: center;
        }
    }
    .list {
        background-color: #fff;
        height: auto;
        padding-top: 20px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        .item {
            background-color: aquamarine;
            height: auto;
            border: 1px solid red;
            border-radius: 1rem 1rem 1rem 1rem;
            margin-bottom: 20px;
        }
    }
}