<ion-content>
    <div class="logo">
        <img src="assets/images/logo.png" alt="" srcset="" class="img">
        <p>Inscription</p>
    </div>
    <form id=formId (ngSubmit)="regisForm(ajouter)" #ajouter="ngForm">

        <div class="formulaire">

            <ion-item>
                <ion-label>Profile</ion-label>
                <ion-select value="profile" interface="action-sheet" cancelText="Annuler" name="profile" ngModel [(ngModel)]="profile" required>
                    <ion-select-option value="TUTEUR">Tuteur</ion-select-option>
                    <ion-select-option value="ELEVE">Elève</ion-select-option>
                    <ion-select-option value="ECOLE">Ecole</ion-select-option>
                    <ion-select-option value="PARENT">Parent</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item  *ngIf="profile ==='TUTEUR' || profile ==='ELEVE' || profile ==='PARENT' ">
                <ion-icon name="person-outline"></ion-icon>
                <ion-input placeholder="Prenom" name="prenom" ngModel required></ion-input>
            </ion-item>
 
            <ion-item *ngIf="profile">
                <ion-icon name="person-outline"></ion-icon>
                <ion-input placeholder="Nom" name="nom" ngModel required></ion-input>
            </ion-item>

            <div class="tuteur">
                <ion-item *ngIf="profile==='ECOLE'">
                    <ion-icon name="mail-outline"></ion-icon>
                    <ion-input type="email" placeholder="email" ngModel name="email" required></ion-input>
                </ion-item>

                <ion-item *ngIf="profile==='ECOLE'">
                    <ion-icon name="globe-outline"></ion-icon>
                    <ion-input placeholder="Site" name="site" ngModel required></ion-input>
                </ion-item>
                
                <ion-item *ngIf="profile==='TUTEUR'">
                    <ion-icon name="school-outline"></ion-icon>
                    <ion-input type="text" placeholder="Etablissement" name="etablissement" ngModel required></ion-input>
                </ion-item>

                <ion-item *ngIf="profile">
                    <ion-icon name="call-outline"></ion-icon>
                    <ion-input placeholder="Numero de telephone" name="numero" ngModel required></ion-input>
                </ion-item>

                <ion-item *ngIf="profile">       
                    <ion-label>Ville</ion-label>
                    <ion-select interface="action-sheet" cancelText="Annuler" name="addresse" ngModel required>
                        <ion-select-option value="Bamako">Bamako</ion-select-option>
                        <ion-select-option value="Kayes">Kayes</ion-select-option>
                        <ion-select-option value="Koulikoro">Koulikoro</ion-select-option>
                        <ion-select-option value="Sikasso">Sikasso</ion-select-option>
                        <ion-select-option value="Segou">Segou</ion-select-option>
                        <ion-select-option value="Mopti">Mopti</ion-select-option>
                        <ion-select-option value="Tombouctou">Tombouctou</ion-select-option>
                        <ion-select-option value="Goa">Goa</ion-select-option>
                        <ion-select-option value="Kidal">Kidal</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="profile">
                    <ion-icon name="call-outline"></ion-icon>
                    <ion-input placeholder="Quartier" name="quartier" ngModel required></ion-input>
                </ion-item>

                <ion-item *ngIf="profile==='TUTEUR'">
                    <ion-label>Matière ou spécialité</ion-label>
                    <ion-select interface="action-sheet" cancelText="Annuler" name="specialite" ngModel required>
                        <ion-select-option value="Mathématiques">Mathématiques</ion-select-option>
                        <ion-select-option value="Biologie">Biologie</ion-select-option>
                        <ion-select-option value="Physique">Physique</ion-select-option>
                        <ion-select-option value="Chimie">Chimie</ion-select-option>
                        <ion-select-option value="Français">Français</ion-select-option>
                        <ion-select-option value="Philosophie">Philosophie</ion-select-option>
                        <ion-select-option value="Histoire et Geographie">Histoire & Geographie</ion-select-option>
                        <ion-select-option value="ECM">ECM</ion-select-option>
                        <ion-select-option value="Comptabilité">Comptabilité</ion-select-option>
                        <ion-select-option value="Economie">Economie</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="profile==='TUTEUR'">
                    <ion-label>Niveau</ion-label>
                    <ion-select interface="action-sheet" cancelText="Annuler" name="niveau" ngModel required>
                        <ion-select-option value="1er cycle">1er cycle</ion-select-option>
                        <ion-select-option value="2e cycle">2e cycle</ion-select-option>
                        <ion-select-option value="Lycée">Lycée</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="profile==='TUTEUR'">
                    <span>Ancienneté:</span>
                    <ion-input type="number" placeholder="exemple: 2" name="anciennete" ngModel required></ion-input>
                </ion-item>

                <ion-item *ngIf="profile"> 
                    <ion-icon name="key-outline"></ion-icon>
                    <ion-input type="password" placeholder="Mot de passe" name="password" ngModel required></ion-input>
                    <ion-icon name="eye" item-right (click)="togglePasswordMode()"></ion-icon>
                </ion-item>
                
                <ion-item *ngIf="profile">
                    <ion-icon name="key-outline"></ion-icon>
                    <ion-input placeholder="Confirmer mot de passe" [(ngModel)]="confirmer" required></ion-input>
                    <ion-icon name="eye" item-right (click)="togglePasswordMode()"></ion-icon>
                </ion-item>
                <ion-input type="submit" value="S'inscrire" class="btnInscrit" *ngIf="profile"></ion-input>
                
                <ion-text color="gray" size="small" *ngIf="!profile">Veuilez commencez par choisir un profile</ion-text>
            </div>
        </div>
    </form><br>
    <div style=" margin-top: 30px;" >
        <p style="font-size: small;">Vous avez un compte? <a routerLink="/login">connectez-vous</a></p>
    </div>
</ion-content>